<nav class="navbar bg-success ">
 <ul class="list-unstyled d-flex">
    <li class="m-2"><a class="text-decoration-none text-dark " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  routerLink="/">Signup Component</a></li>
    <li class="m-2"><a class="text-decoration-none text-dark " routerLinkActive="active" routerLink="login">Login Component</a></li>
    <li class="m-2"><a class="text-decoration-none text-dark " routerLinkActive="active" routerLink="switch">Switch Component</a></li>
</ul>
</nav>