<!-- <h1>Hello angular...</h1>
<h1>
{{title}}
</h1>

<h1>{{3+3}}</h1>
<h1> x=10 and y=20</h1>
<h1>{{x+y}}</h1>
<h1>{{x==y}}</h1>
<h1>{{x<=y}}</h1>
<h1>{{'hello'.toUpperCase()}}</h1>
<br> -->
<!-- This is Selector Defined in .ts of login -->
<!-- <login></login> 

<app-signup> </app-signup>
<app-profile style="color: rgb(62, 122, 102);"> </app-profile>
<button (click)="Click_Funcanother(4,6)">Click</button> -->

<!-- -------Task 1 => incre reset -->
<!-- <app-task1> </app-task1> -->
<!-- -------Task 2 => Events -->
<!-- <app-event-task2> </app-event-task2> -->
<!-- -------Task 3 => Events getset -->
<!-- <app-getsetevent-task3> </app-getsetevent-task3> -->
 <!-- ---------task 4 Togle -->
 <!-- <app-toggle> </app-toggle> -->
 <!-- ---------task 5 Togle -->
 <!-- <app-toggle-2> </app-toggle-2> -->
 <!-- ---------task 5 Switch case -->
 <!-- <app-switch> </app-switch> -->
 <!-- ---------task 5 Signals------>
 <!-- <app-signals> </app-signals> -->
 <!-- ---------task 8 ComputedSignals------>
 <!-- <app-computed-signal> </app-computed-signal> -->
 <!-- ---------task 9 Effect------>
 <!-- <app-effect> </app-effect> -->

 <!-- ---------task 10 contextual var loop------>
 <!-- <app-contextual-var> </app-contextual-var> -->
 <!-- ---------task 10 2-way Binding------>
 <!-- <app-twowaybinding> </app-twowaybinding> -->
 <!-- ---------task 10 2-way Binding------>
 <!-- <app-todolist> </app-todolist> -->
 <!-- ---------task 11 Dynamic Style------>
 <!-- <app-dynamic> </app-dynamic> -->
 <!-- ---------task 12 13 15 Directive------>
 <!-- <app-directive> </app-directive> -->
 <!-- ---------task 16 Routing------>
  <!-- <app-routing></app-routing> -->

<!-- <ul>
    <li><a routerLink="signup">Signup Component</a></li>
    <li><a routerLink="login">Login Component</a></li>
    <li><a routerLink="switch">Switch Component</a></li>
</ul>
-->
<!-- ---------task 17 Header Routing -- Dynamic Routing -- Data Passing ------>

<!-- <app-header></app-header>
<router-outlet/>  -->
<!-- ---------task 18 Reactive Forms + Validation ------>
<!-- <app-reactiveform></app-reactiveform> -->
<!-- ---------task 19 Template Forms and validaton ------>
<!-- <app-templateform></app-templateform> -->
 
<!-- ---------task-20 pareent to child ------>
<!-- <app-parrent-tochild user={{username}}></app-parrent-tochild> -->
<!-- <app-parrent-tochild [user]="username" city="Nagar"></app-parrent-tochild>
<select #selecteduser (change)="onchange(selecteduser.value)" name=""  id="" class="m-2">
  <option value="sam">sam</option>
  <option value="dam">dam</option>
  <option value="gham">gham</option>
  <option value="dham">dham</option>
</select> -->

<!-- ---------task 21  child to parent ------>
<!-- <app-reusecompo (getuser)="childHandle($event)" ></app-reusecompo>
@for(user of users;track user)
{
  <h1>{{user}}</h1>
} -->


<!-- ---------task 22 Custom Pipe ------>
<app-compopipe></app-compopipe>
